{% extends 'base.html' %}

{% block content %}

{% for instance in object_list %}
<p>-> <a href='{{ instance.get_absolute_url }}'>{{ instance.id }}</a> Estado:{{ instance.estado }}, <br> Número do lugar:{{ instance.numero_do_lugar }}</p>


<form action="{{ instance.id }}/update">
    <p>To update go here:</p>
    <input type="submit" value="Update" />
</form>

<form action="{{ instance.id }}/delete/">
    <p>To delete go here:</p>
    <input type="submit" value="Delete" />
</form>
{% endfor %}

<br>

<form action="create/">
    <input type="submit" value="Create a Lugar" />
</form>

{% endblock %}