<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Associar Lugar</title>

    {% load static %}

    {% block content %}

        {% include "main/includes/messages.html" %}

        <div class="container">
            <form method="POST">
                {% csrf_token %}

                <div class="container">
                    <h3>Associando um lugar em {{ parques.nome }}</h3>
                </div>

                {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}

                    {{ field.label }}
                    {{ field|safe }}

                    {% if field.help_text %}
                         <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                    <br>
                {% endfor %}

                    <button class="btn" href="/index/{{ parques.id }}" style="background-color: lightblue; color: black" type="submit">Associar</button>
                </form>
        </div>

    {% endblock %}
</head>
<body>

</body>
</html>