<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selecionar parque</title>

    {% load static %}
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">

</head>
<body>

  {% include "main/includes/messages.html" %}

    <h2 class="text-center" style="padding: 1em">Escolha o parque em que pretende entrar:</h2>

    {% for parque in parques %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <img height="250px" width="200px" "rounded-circle me-lg-2" src="static/main/img/{{ parque.foto }}">
                </div>
                <a href="/entrar_parque_form/{{ parque.id }}">{{ parque.nome }}</a>
                 <div class="col-sm-6">

                 </div>
            </div>
        </div>
    {% endfor %}


</body>
</html>