<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ parques.nome }} - Sair</title>

    {% load static %}

    {% block content %}

        <div class="container">
            <h3>Saindo de {{ parques.nome }}...</h3>
        </div>

        {% include "main/includes/messages.html" %}

        <div class="container">
            <form method="POST">
                {% csrf_token %}

                {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    <p>Introduza a sua matrícula para sair do parque:</p>

                    {{ field }}
                    {% if field.help_text %}
                         <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                    <br>
                {% endfor %}


                <button class="btn" style="background-color: lightblue; color: black" type="submit">Sair</button>
                </form>
        </div>

    {% endblock %}
</head>
<body>

</body>
</html>