<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ parques.nome }} - Sair</title>

    {% load static %}
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">

</head>
<body>

<div class="container">
    <h3>Saindo de {{ parques.nome }}...</h3>
</div>

    {% include "main/includes/messages.html" %}

    <div class="container">
        <form method="POST">
            {% csrf_token %}

            <div class="container" style="padding: 0.5em">
                 {{ form }}
             </div>

             <div class="container">
                <button class="btn btn-primary" type="submit">Sair</button>
            </div>
        </form>
        <button class="btn btn-danger" href="/index/{{ parques.id }}" type="button"><a href="/index/{{ parques.nome }}">Voltar</a></button>
    </div>

</body>
</html>